/* Navbar styles */
.navbar {
    background: #1f1f1f; /* Dark background color */
    padding: 10px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    text-decoration: none;
    color: #f1f1f1; /* Lighter text color for the links */
    font-weight: bold;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #ffffff; /* White text color on hover */
  }
  